In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy
import json

In [28]:
with open('data/s/train_s.jsonl', 'r') as f:
  a = list(f)

data_s =[]
for element in a:
  data_s.append(json.loads(element))

data_s = pd.DataFrame(data_s)

In [29]:
data_s

,qID,sentence,option1,option2,answer
0,3QHITW7OYO7Q6B6ISU2UMJB84ZLAQE-2,Ian volunteered to eat Dennis's menudo after a...,Ian,Dennis,2
1,3QHITW7OYO7Q6B6ISU2UMJB84ZLAQE-1,Ian volunteered to eat Dennis's menudo after a...,Ian,Dennis,1
2,3XWUWJ18TLO2DDRXF83QWLKRJ29UU4-1,"He never comes to my home, but I always go to ...",home,house,1
3,3XWUWJ18TLO2DDRXF83QWLKRJ29UU4-2,"He never comes to my home, but I always go to ...",home,house,2
4,3D5G8J4N5CI2K40F4RZLF9OG2CKVTH-2,"Kyle doesn't wear leg warmers to bed, while Lo...",Kyle,Logan,2
...,...,...,...,...,...
635,3EGKVCRQFY6JSC139GVKMEMPGCSBY6-1,Carrie needed to be vigilant about her bone he...,Carrie,Natalie,1
636,3566S7OX5FXZ0UNAKACV3PPIOHJ17V-2,The waves destroyed the garage but left the ho...,garage,house,2
637,3566S7OX5FXZ0UNAKACV3PPIOHJ17V-1,The waves destroyed the garage but left the ho...,garage,house,1
638,3HEM8MA6H9AXTFCKHDKRCE03806PQT-1,The science student tried using the telescope ...,galaxy,telescope,1
639,3HEM8MA6H9AXTFCKHDKRCE03806PQT-2,The science student tried using the telescope ...,galaxy,telescope,2